<html>

<head>
    <title>Oaxacaos</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="OaxacaosFinal.css">
    <link rel="stylesheet" href="Oaxacaos-mini.css">
    <link rel="icon" href="C:/Users/lsbpl/Downloads/oaxacos.img/Fav-icon--Oaxacaos_.jpg">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="background1">
            <div class="textos-header">
                <h1>Bienvenido a <span>Oaxacaos</span></h1>
                <h2>Dile adiós al tráfico y al estrés</h2>
            </div>
        </div>
    </header>

    <main>

        <section class="Mapas">
            <div class="background2">
                <div class="titulo1">
                    <h2>Ingresa a los mapas de Oaxacaos</h2>
                </div>
                <div class="enlace-mapa">
                    <a href="http://192.168.1.66:8080/">Continuar</a>
                </div>
            </div>
        </section>

        <section>
            <div class="registro">
                <div class="titulo2">
                    <h2>¿Ya tienes Cuenta?</h2>
                    <div class="enlace-sesion">
                        <a href="C:/Users/lsbpl/OneDrive/Documentos/OaxaCaos/OC-Login.html">Regístrate</a>
                    </div>
                </div>
                <div class="enlace-cuenta">
                    <a href="C:/Users/lsbpl/OneDrive/Documentos/OaxaCaos/OC-Cuenta.html">Crea una cuenta</a>
                </div>
            </div>
        </section>

        <section class="acerca-de">
            <div class="textos-1">
                <h2>Acerca de Oaxacaos</h2>
                <p class="parrafo-1">En la última década, los gps se han posicionado como una de las herramientas
                    más eficaces en la sociedad a la hora de desplazarse, especialmente en el tráfico vehicular y
                    no es para menos , pues las aplicaiones faciliyan la vida de los conductores y peatones en una
                    ciudad cada día más congestionada por el caos vial.
                </p>
                <p class="parrafo-2">Según un estudio realizado por Flurry Analytics, un 97% de las personas tiene
                    un móvil, el usuario promedio pasa alrededor de 6 horas diarias en su teléfono, la razón es simple,
                    las personas buscan estar informadas de todos los temas que permitan simplificar su vida.
                </p>
                <p class="parrafo-3">Es por eso que el objetivo es crear un sitio web en donde la gente pueda
                    informarse de su ruta de trayecto pero así mismos puedan reportar cuaquier inconveniente en
                    su ruta y asi poder generar menos tráfico en las calles, haciendo de tu trayecto mucho más
                    agradable.
                </p>
            </div>
        </section>
    </main>
</body>

</html>