<html>
    <head>
        <title>Oaxacaos - Crear cuenta</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="OC-Cuenta.css">
        <link rel="icon" href="C:/Users/lsbpl/Downloads/oaxacos.img/Fav-icon-OaxaCaos.PNG">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="textos">
                <!--<h1>Bienvenido a <span>Oaxacaos</span></h1>
                <h2>Dile adiós al tráfico y estrés</h2>
                <div class="cuadro">
                    <a href="C:/Users/lsbpl/OneDrive/Documentos/OaxaCaos/registro.html">registrate aquí</a>
                </div>-->
            </div>
        </header>
        <main>
            <div class="login-box">
                <img  class="avatar" src="C:/Users/lsbpl/Downloads/img/contactos.JPG" alt="">
                <h2>Crea tu usuario</h2>
                <div id="app">

                    <facebook-login class="button"
                          appId="579489356214610"
                          @login="onLogin"
                          @logout="onLogout"
                          @sdk-loaded="sdkLoaded">
                        </facebook-login>
                    </div>
                <form>
                    <label for="username">Nombre completo</label>
                    <input type="text" placeholder="Escribe tu nombre">

                    <label for="username">correo</label>
                    <input type="mail" placeholder="Escribe tu correo">


                    <label for="password">Contraseña</label>
                    <input type="password" placeholder="Escribe tu contraseña">

                    <input type="submit" value="Crear usuario">

                    <a href="#">Acepto los terminos y condiciones</a> <br>
                    <a href="#">¿Ya tienes cuenta?</a>
                </form>
            </div>
        </main>
    </body>
    <script>

        import facebookLogin from 'facebook-login-vuejs'
        
        export default {
          name: 'app',
          components: {
            facebookLogin,
            Map
          },
          methods:
        {
          getUserData () {
            this.FB.api('/me', 'GET', { fields: 'id,name,email' },
              userInformation => {
                this.personalID = userInformation.id
                this.email = userInformation.email
                this.name = userInformation.name
              }
            )
          },
          sdkLoaded (payload) {
            this.isConnected = payload.isConnected
            this.FB = payload.FB
            if (this.isConnected) this.getUserData()
          },
          onLogin () {
            this.isConnected = true
            this.getUserData()
          },
          onLogout () {
            this.isConnected = false
          }
        }
        }
        
        </script>
        
</html>